apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: blog

resources:
  - namespace.yaml
  - certificate.yaml
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml

commonLabels:
  app.kubernetes.io/managed-by: argocd
